$white: #fff;
$black: #1f2324;
$grey: #e5e5e5;
$darkgrey: #969696;
$lightgrey: #f3f3f3;
$previousPrice: #c4c4c4;
$counterBtn: #eaeff8;
$lightblue: #477ada;
$blue: #1648a8;
$darkblue: #42516e;
$yellow: #ffd230;
$darkyellow: #f4bf00;
$pink: #ffe4e4;
